.userItem{
    display: flex;
    grid-gap: 30px;
}
.userImg{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    img{
        width: 100%;
        object-fit: cover;
        object-position: center center;
        height: 100%;
    }
}
.userContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pagination span{
    margin-right: 5px;
    cursor: pointer;
}
.selectedPage{
    font-weight: 600;
}

.preloader{
    display: block;
    width: 60px;
}