.header {
  grid-area: header;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.header img {
  width: 50px;
}


.App-logo {
  height: 60px;
  pointer-events: none;
}

.headerInner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}