/* .App {
  text-align: center;
} */
body,
html {
  height: 100%;
}
body{
  background-color: #282c34;
}
#root {
 
  color: #fff;
  padding-bottom: 50px;
}

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  grid-template-areas: "header header"
    "nav cont";
  height: 100%;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.link {
  color: #61dafb;
}

.app-wrapper-content {
  grid-area: cont;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ccc;
  background-color: #ccc;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s;
}
.btn-primary{
  background-color: #61DAFB;
  border-color: #61DAFB;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}

button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}